#thoughts {
    position: relative;

    >img:first-child {
        position: absolute;
        left: 150px;
        top: -75px;

        @media (max-width:1840px) {
            display: none;
        }
    }



    >img:nth-child(2) {
        position: absolute;
        right: 150px;
        top: 230px;

        @media (max-width:1900px) {
            display: none;
        }
    }


    .container {
        .row {

            .common-cls:first-child {
                display: flex;
                align-items: center;
                justify-content: flex-start;


                img {
                    max-height: 500px;

                }
            }

            .common-cls:last-child {
                display: flex;
                align-items: center;
                justify-content: center;

                .inside-div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    color: white;
                    gap: 20px;

                    .unique-cls {
                        border-radius: 10px;
                        padding: 30px 20px;
                        position: relative;
                        color: black;
                        border: 1px solid #0295FF;
                        font-size: 20px;

                        @media (max-width:991px) {
                            font-size: 15px;
                            padding: 15px 15px;

                        }

                        @media (max-width:768px) {
                            font-size: 8px;
                            padding: 5px 5px;

                        }

                        &:hover {
                            background-color: #E2F3FF;
                            border: none;
                        }

                        h5 {
                            font-weight: 600;
                            font-size: 1em;
                        }

                        p {
                            width: 50%;
                            font-size: 0.8em;
                        }

                        img {
                            position: absolute;
                            right: 10%;
                            bottom: 10%;

                            @media (max-width:991px) {
                                height: 40px;

                            }
                        }
                    }

                    // .unique-cls:first-child {
                    //     background-color: indianred;
                    // }

                    // .unique-cls:nth-child(2) {
                    //     background-color: blue;
                    // }

                    // .unique-cls:nth-child(3) {
                    //     background-color: green;
                    // }

                    // .unique-cls:last-child {
                    //     background-color: violet;
                    // }
                }
            }
        }
    }
}



// <div id="thoughts">
// <div class="container">
//     <div class="row">
//         <div class="col-5  ">
//             <img src="./images/thoughts/Group 186.png" class="img-fluid" alt="">
//         </div>
//         <div class="col-7  bg-warning"></div>
//     </div>